main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.section1{
    display: flex;
    width: 85%;
}
.div1-main1{
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.div-textos{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.h3-textos{
    display: flex;
    width: 100%;
}
.span1{
    display: flex;
    width: 100%;
}
.span2{
    display: flex;
    width: 100%;
}
.span3{
    display: flex;
    width: 100%;
}
.div1-main2{
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.div1-main3{
    display: flex;
    margin: 10px;
    flex-direction: column;
}
.img-section1{
    width: 100%;
}
.section2{
    display: flex;
    width: 85%;
}
.section3{
    display: flex;
    width: 85%;
}